<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Criando um novo livro</title>
  </head>

  <body>
    <h1>Criando um novo livro</h1>

    <form action="/books" method="post">
      <div>
        <label for="title">Titulo</label>
        <input id="title" name="title">
      </div>

      <div>
        <label for="author">Autor</label>
        <input id="author" name="author">
      </div>

      <div>
        <label for="gender">Gênero</label>
        <input id="gender" name="gender">
      </div>

      <div>
        <label for="isbn">ISBN</label>
        <input id="isbn" name="isbn">
      </div>

      <div>
        <label for="synopsis">Sinopse</label>
        <input id="synopsis" name="synopsis">
      </div>

      <div>
        <label for="year">Ano</label>
        <input id="year" name="year">
      </div>

      <div>
        <label for="edition">Edição</label>
        <input id="edition" name="edition">
      </div>

      <div>
        <label for="publisher">Editora</label>
        <input id="publisher" name="publisher">
      </div>

      <button type="submit">Criar livro</button>
    </form>
  </body>
</html>