<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <div class="mb-3 d-flex justify-content-center flex-column align-items-center">
    <h1>Meus livros emprestados</h1>
  </div>

  <table class="table table-striped">
    <thead>
    <tr class="table-dark">
      <th>ID</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Visualizar</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="lending : ${lendings}">
      <td th:text="${lending.id}"></td>
      <td th:text="${lending.book.title}"></td>
      <td th:text="${lending.book.author}"></td>
      <td><a th:href="@{/lendings/{id} (id=${lending.id})}">Visualizar</a></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>